@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 3em;
  color: #FF7302;
}

.menu, .footer {
  height: 6.5em;
}

@-webkit-keyframes leftShift {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftShift {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rightShift {
  0% {
    -webkit-transform: translateX(2500px);
            transform: translateX(2500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rightShift {
  0% {
    -webkit-transform: translateX(2500px);
            transform: translateX(2500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-top: 5px solid #2B2B51;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10%;
  background: linear-gradient(114.91deg, #F9F9F9 1.06%, #E1E8F0 36.64%);
}

.gradient .laptop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 41.5em;
  margin-top: -4em;
  background: url("./assets/mac-sect1.png") no-repeat;
  background-size: contain;
  -webkit-animation-name: leftShift;
          animation-name: leftShift;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.gradient .info {
  width: 32%;
  margin-right: 20%;
  margin-top: -4%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation-name: rightShift;
          animation-name: rightShift;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.gradient .info h1 {
  margin: 0;
  color: #FF7302;
  font-size: 3em;
}

.gradient .info h2 {
  margin: 0;
  color: #2B2B51;
  font-size: 3em;
}

.gradient .info p {
  margin-top: 10%;
  font-size: 1.3em;
  word-spacing: 5%;
}

form {
  margin-top: 5%;
  -webkit-transform: rotate(2.5deg);
          transform: rotate(2.5deg);
  background: #F7F7F7;
}

form fieldset {
  -webkit-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
  position: relative;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

form fieldset .select {
  width: 40%;
  margin-left: 5%;
  height: 1em;
}

form fieldset .select select {
  width: 100%;
  height: 2em;
  margin-top: 3%;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid gray;
}

form fieldset .select:hover .country {
  margin-top: 2%;
  font-size: 0.8em;
}

form fieldset .input {
  width: 40%;
  height: 3em;
  border: none;
  margin-left: 5%;
  margin-top: 3%;
  font-weight: 100;
}

form fieldset .input input {
  width: 100%;
  height: 2.5em;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid gray;
}

form fieldset .input:hover .phone, form fieldset .input:hover .name, form fieldset .input:hover .email {
  margin-top: 2%;
  font-size: 0.8em;
}

form fieldset .country {
  position: absolute;
  top: 1em;
  left: 4.5em;
}

form fieldset .name {
  position: absolute;
  top: 1em;
}

form fieldset .phone {
  position: absolute;
  top: 5.5em;
}

form fieldset .email {
  position: absolute;
  top: 5.5em;
}

form fieldset .checkbox {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  width: 40%;
  font-size: 1.2em;
  margin-top: 3%;
  margin-left: 5%;
}

form fieldset .checkbox a {
  color: #2B2B51;
  text-decoration: underline;
}

input[type="submit"] {
  width: 40%;
  height: 3em;
  color: white;
  background: #0073F0;
  border: none;
  border-radius: 4em;
  font-size: 1.2em;
  margin-left: 5%;
  margin-top: 3%;
}

input[type="submit"]:hover {
  background: linear-gradient(-45deg, #0073F0, #2B2B51);
}

@media only screen and (max-width: 1360px) {
  .gradient {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gradient .laptop {
    width: 90%;
    margin-top: 10%;
    -webkit-animation: none;
            animation: none;
    background-image: url("./assets/Ноут.png");
  }
  .gradient .info {
    width: 70%;
    margin: 0;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
    -webkit-animation: none;
            animation: none;
  }
  .gradient .info h1, .gradient .info h2, .gradient .info p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */